/* ===== CONFIGURAÇÕES GERAIS ===== */
body {
    margin: 0 auto;
    font-family: Poppins, sans-serif;
    background-color: #fff;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}




/* ===== CABEÇALHO ===== */
header {
    background-color: #040404;
    margin-bottom: 1.5rem;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-wrapper {
    width: 1440px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    width: 64px;
    height: 100%;
}

.logo img {
    width: 100%;
}

/* Navegação */
header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: #CC0000;
    text-decoration-thickness: 4px;
    text-underline-offset: 22px;
}

/* Indicador "Ao Vivo" */
.live-cnn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0.5rem;
}

.outer-circle {
    width: 20px;
    height: 20px;
    background-color: #1a0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: live-cnn 2s ease-in-out infinite;
}

.inner-circle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

/* Animação do piscar */
@keyframes live-cnn {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

/* Botões de Ação */
.actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-wrapper button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.vertical-separator {
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin: 0 10px;
}

/* ===== CONTEÚDO PRINCIPAL ===== */
.main-content {
    width: 1440px;
    margin: 0 auto;
    flex: 1;
}

/* Seção de Destaque */
.destaque-wrapper {
    display: grid;
    grid-template-columns: 2fr 250px;
    gap: 2rem;
    align-items: start;
}

/* Manchete Principal */
.manchete-principal {
    
    margin-bottom: 2rem;
}

.manchete-principal a {
    text-decoration: none;
}

.manchete-principal a>h1 {
    
    color: #040404;
}

.manchete-principal a>h1:hover {
    color: #cc0000;
}


.manchete-principal h1 {
    font-size: 2.2rem;  
    margin: 0;
}

.manchete-principal ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.manchete-principal li a {
    text-decoration: none;
    color: #040404;
}

.manchete-principal li a:hover {
    
    color: #cc0000;
}

.icon-arrow {
    vertical-align: middle;
}

/* Grid de Notícias Principal */
.grid-noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 6rem;
    align-self: end;
}

.grid-noticias a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 16rem;
}


.grid-noticias figure {
    margin: 0;
    padding: 0;
    flex: 1;
    height: inherit;
}

.grid-noticias img {
    object-fit: cover;
    width: 100%;
    height: inherit;
    border-radius: 0.5rem;
}

.grid-noticias figcaption {
    line-height: 1.2rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

.grid-noticias figcaption:hover {
    color: #cc0000;
}



/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.sidebar article {
    margin-bottom: 1.2rem;
}

.sidebar figure {
    width: 100%;
    margin: 0;
    padding: 0;     
}

.sidebar img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar figcaption {
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
    width: 100%;
}

.sidebar figcaption:hover {
    color: #cc0000;
}

/* Linha Divisória */
.horizontal-line {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, transparent, #040404, transparent);
    margin-top: 6rem;
}

/* ===== SEÇÃO DE NOTÍCIAS ===== */
.titulo-noticia h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #59BBF5;
}

.titulo-noticia h2::after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #59BBF5;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.noticias-grid figure {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

.noticias-grid img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.noticias-grid a {
    text-decoration: none;
}

.noticias-grid figcaption {
    
    width: 100%;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: #333;
}

.noticias-grid figcaption:hover {
    color: #cc0000;
}

/* ===== RODAPÉ ===== */
footer {
    background-color: #0A0A0A;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
}

.footer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75px 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.footer-wrapper ul {
    padding: 0;
    list-style: none;
    color: #fff;
}

.footer-wrapper a {
    text-decoration: none;
    color: #6d6c6c;
    transition: 0.2s ease-out;
}

.footer-wrapper a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #CC0000;
}

.footer-wrapper img {
    width: 100%;
    height: auto;
    max-width: 64px;
    max-height: 64px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.footer-wrapper img:hover {
    cursor: pointer;
}

/* Indicador Live nas Editorias */
.editorias li {
    position: relative;
}

.editorias .live-cnn {
    position: absolute;
    right: 100%;
    top: 6%;
}

/* Copyright */
.copyright {
    color: white;
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
}




/* Desktop 1440px + */

@media (min-width: 1441px) {
    .main-content, .header-wrapper, .footer-wrapper {
        max-width: 1440px;
    }
}


/* Desktop Padrao 1024px - 1440px */

@media (max-width: 1440px) {
    .main-content, .header-wrapper, .footer-wrapper {
        width: 90%;
        padding: 0 2rem;
    }
    
    .grid-noticias {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 7rem;
    }

    .noticias-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar figcaption {
        font-size: 1.1rem;
    }

    .grid-noticias figcaption {
        font-size: 1.1rem;
    }
    
    
    .noticias-grid figcaption {
        font-size: 1.1rem;
    }
}


@media (max-width: 1023px) {

    /* .main-content, .header-wrapper, .footer-wrapper {
        width: 50%;
        padding: 0 2rem;
    } */


    .header-wrapper {
        font-size: 0.8rem;
    }

    .destaque-wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .sidebar {
        margin-top: 4rem;
    }

    .sidebar figcaption {
        font-size: 1.1rem;
    }

    .grid-noticias {
        grid-template-columns: 1fr;
    }

    .grid-noticias figcaption {
        font-size: 1.1rem;
    }
    
    .noticias-grid {
        grid-template-columns: 1fr;
    }
    
    .noticias-grid figcaption {
        font-size: 1.1rem;
    }

    .footer-wrapper {
        gap: 1rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr;
        justify-items: end;
        align-items: center;
    }

    .grid-noticias a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 32rem;
    }

}